.DS_Store
Thumbs.db
Desktop.ini

node_modules/
*.log
.env
.env.*
!.env.example
教师智能体和底座相关资料/教师端智能体SaaS部署与集成指南(2).docx
教师智能体和底座相关资料/课堂互动智能体数据说明(1).docx
教师智能体和底座相关资料/其他.txt
教师智能体和底座相关资料/项目核心思路-0809(1).docx
教师智能体和底座相关资料/AI教育平台数据存储与学生智能体接口说明(1).docx
